USE [InformationData]
GO
/****** Object:  Table [dbo].[部门]    Script Date: 2022/12/23 19:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[部门](
	[部门编号] [varchar](40) NOT NULL,
	[部门名称] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[部门编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[岗位]    Script Date: 2022/12/23 19:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[岗位](
	[岗位编号] [varchar](40) NOT NULL,
	[岗位名称] [varchar](40) NOT NULL,
	[部门编号] [varchar](40) NOT NULL,
	[员工编号] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[岗位编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[员工婚姻信息]    Script Date: 2022/12/23 19:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[员工婚姻信息](
	[婚姻编号] [varchar](40) NOT NULL,
	[配偶姓名] [varchar](40) NOT NULL,
	[配偶性别] [varchar](40) NOT NULL,
	[配偶年龄] [varchar](40) NOT NULL,
	[配偶生日] [varchar](40) NOT NULL,
	[员工编号] [varchar](40) NOT NULL,
	[婚姻状况] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[婚姻编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[员工基本信息]    Script Date: 2022/12/23 19:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[员工基本信息](
	[员工编号] [varchar](40) NOT NULL,
	[姓名] [varchar](40) NOT NULL,
	[性别] [varchar](40) NOT NULL,
	[生日] [varchar](40) NOT NULL,
	[电话] [varchar](40) NOT NULL,
	[入职时间] [varchar](30) NULL,
	[学历编号] [varchar](50) NULL,
	[密码] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[员工编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[员工学历信息]    Script Date: 2022/12/23 19:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[员工学历信息](
	[学历编号] [varchar](40) NOT NULL,
	[学历] [varchar](40) NOT NULL,
	[专业] [varchar](40) NOT NULL,
	[学校] [varchar](40) NOT NULL,
	[毕业时间] [varchar](40) NOT NULL,
	[外语情况] [varchar](40) NOT NULL,
	[员工编号] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[学历编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[部门] ([部门编号], [部门名称]) VALUES (N'001', N'人事部')
INSERT [dbo].[部门] ([部门编号], [部门名称]) VALUES (N'002', N'财务部')
INSERT [dbo].[部门] ([部门编号], [部门名称]) VALUES (N'003', N'国际部')
GO
INSERT [dbo].[岗位] ([岗位编号], [岗位名称], [部门编号], [员工编号]) VALUES (N'101', N'人事副总裁', N'001', N'1')
INSERT [dbo].[岗位] ([岗位编号], [岗位名称], [部门编号], [员工编号]) VALUES (N'102', N'财务总监', N'002', N'2')
INSERT [dbo].[岗位] ([岗位编号], [岗位名称], [部门编号], [员工编号]) VALUES (N'103', N'国际助理', N'003', N'3')
GO
INSERT [dbo].[员工婚姻信息] ([婚姻编号], [配偶姓名], [配偶性别], [配偶年龄], [配偶生日], [员工编号], [婚姻状况]) VALUES (N'1001', N'籍幻柏', N'女', N'32', N'2002/2/11', N'1', N'已婚')
INSERT [dbo].[员工婚姻信息] ([婚姻编号], [配偶姓名], [配偶性别], [配偶年龄], [配偶生日], [员工编号], [婚姻状况]) VALUES (N'1002', N'焦寻芹', N'男', N'31', N'2002/4/11', N'2', N'离婚')
INSERT [dbo].[员工婚姻信息] ([婚姻编号], [配偶姓名], [配偶性别], [配偶年龄], [配偶生日], [员工编号], [婚姻状况]) VALUES (N'1003', N'？？', N'？？', N'？？', N'？？', N'3', N'未婚')
GO
INSERT [dbo].[员工基本信息] ([员工编号], [姓名], [性别], [生日], [电话], [入职时间], [学历编号], [密码]) VALUES (N'1', N'邹睿德', N'男', N'2000/11/4', N'651956', N'2032/12/12', N'10001', N'114514    ')
INSERT [dbo].[员工基本信息] ([员工编号], [姓名], [性别], [生日], [电话], [入职时间], [学历编号], [密码]) VALUES (N'10', N'孙一南', N'女', N'1999/9/11', N'645833', N'2050/9/8', N'10010', N'114514    ')
INSERT [dbo].[员工基本信息] ([员工编号], [姓名], [性别], [生日], [电话], [入职时间], [学历编号], [密码]) VALUES (N'11', N'薛春琳', N'女', N'2000/1/11', N'457235', N'2041/4/9', N'10011', N'114514    ')
GO
INSERT [dbo].[员工学历信息] ([学历编号], [学历], [专业], [学校], [毕业时间], [外语情况], [员工编号]) VALUES (N'10001', N'本科', N'空信', N'河工大', N'2024/12/12', N'四级', N'1')
INSERT [dbo].[员工学历信息] ([学历编号], [学历], [专业], [学校], [毕业时间], [外语情况], [员工编号]) VALUES (N'10002', N'大专', N'空信', N'河工大', N'2025/11/14', N'六级', N'2')
INSERT [dbo].[员工学历信息] ([学历编号], [学历], [专业], [学校], [毕业时间], [外语情况], [员工编号]) VALUES (N'10003', N'本科', N'空信', N'河工大', N'2024/5/12', N'四级', N'3')
GO
